.hide-menu {
    transform: translateX(100%);
}

.show-menu {
    transform: translateX(0%);
}

.newsletter-btn-wrapper > button {
    max-width: 100%;
}

.iframe-container {
    padding-top: 56.25%;
}

.responsive-iframe {
    @apply absolute top-0 right-0 bottom-0 left-0 w-full h-full;
}

.transform-top-50 {
    @apply top-2/4;
    transform: translate(0, -50%);
}

.transform-50 {
    transform: translate(-50%, -50%);
}

.before\:transform-50:before {
    @apply transform-50;
}

.after\:transform-50:after {
    @apply transform-50;
}

.-m-b-1 {
    margin-bottom: -1px;
}

.selected > a {
    @apply text-black;
}

.arrow-right {
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 26px solid #E0E0E0;
}

.after\:transform-50:after {
    @apply arrow-right;
}

@screen lg {
    .lg\:transform-top-50 {
        @apply transform-top-50;
    }
}
