---
import { Picture } from 'astro:assets';

const { speaker } = Astro.props;
const { name, companyTitle, company, photo } = speaker;
// aspectRatio="1:1" fix="cover"
---
<div class="swiper-slide w-full flex flex-wrap items-start justify-center mx-auto">
    <div>
        {photo !== undefined ?
            <Picture
                src={photo}
                width="403"
                height="403"
                densities={[1, 2]}
                formats={['webp', 'jpg']}
                alt={name}
                class={"w-full object-cover"}
                loading={'lazy'}
            />
        : ''}
    </div>
    <div class="w-full mt-4 text-xl font-bold">{name}</div>
    {company && <div class="w-full mb-4 text-m font-normal text-gray-600">{companyTitle ? companyTitle+', ' : ''}<strong>{company}</strong></div>}
</div>