---
---
<div class="w-full flex flex-wrap items-start justify-center mx-auto">
    <div class="h-[312px] w-[312px] sm:h-[348px] sm:w-[348px] xs:h[345px] xs:w-[345px]
        border-4 border-slate-100 p-4 text-center py-32 text-gray-400">
        More Speakers to be announced soon
    </div>
</div>