---

const { selected } = Astro.props;
---

<ul>
    <li class={
        selected === 'mm21ro' ? 'selected' : ''
    }>
        <a href="/past/mm21ro">2021</a>
    </li>
    <li class={
        selected === 'mm19ro' ? 'selected' : ''
    }>
        <a href="/past/mm19ro">2019</a>
    </li>
</ul>