---
import Layout from '../../layouts/Layout.astro';
import PageBanner from '../../components/PageBanner.astro';
import SubNavigation from '../../components/Past/SubNavigation.astro';
import Talk from '../../components/Past/Talk.astro';
import Newsletter from '../../components/Newsletter.astro';
---

<Layout title="Meet Magento 2014">
	<main>
		<PageBanner title="Meet Magento 2014" />
        <SubNavigation selected="mm14ro" />

        <h2 class="container pb-4 sm:pb-8">Presentations</h2>
        <h4 class="container pb-4">Keynote</h4>
        <div class="container grid grid-cols-1 md:grid-cols-2 mx-auto pb-4 sm:pb-4 gap-6">
            <Talk 
                image='/assets/talks/mm14ro/thomasgoletz.jpg' 
                title="Meet Magento, Magento, Romania & Europe" 
                language="en"
                speaker="Thomas Goletz" 
                speakerCompany="Meet Magento Association" 
            />
            <Talk 
                image='/assets/talks/mm14ro/benmarks.jpg' 
                title="The Care and Feeding of Magento Developers" 
                language="en"
                speaker="Ben Marks" 
                speakerCompany="Magento" 
            />
            <Talk
                image='/assets/talks/mm14ro/panel2.jpg' 
                title="Magento Community" 
                language="en"
                speaker="Thomas Goletz, Ben Marks, Vlad Stănescu, Marius Străjeru" 
                speakerCompany="" 
            />
        </div>
        <h4 class="container py-4">Business Track</h4>
        <div class="container grid grid-cols-1 md:grid-cols-2 mx-auto pb-4 sm:pb-4 gap-6">
            <Talk
                image='/assets/talks/mm14ro/vladstanescu.jpg' 
                title="Magento: Start-up & Growth" 
                language="ro"
                speaker="Vlad Stănescu" 
                speakerCompany="MindMagnet"
            />
            <Talk
                image='/assets/talks/mm14ro/thomasgoletz.jpg' 
                title="Using Open Source for implementing your business strategy" 
                language="en"
                speaker="Thomas Goletz" 
                speakerCompany="Meet Magento Association" 
            />
            <Talk
                image='/assets/talks/mm14ro/mattmacdougall.jpg' 
                title="Building Loyalty" 
                language="en"
                speaker="Matt MacDougall" 
                speakerCompany="Rocket Web" 
            />
            <Talk
                image='/assets/talks/mm14ro/mariuslazarescu.jpg' 
                title="7 ideas to get more clients from online marketing campaigns in 2014" 
                language="ro"
                speaker="Marius Lăzărescu" 
                speakerCompany="" 
            />
            <Talk
                image='/assets/talks/mm14ro/alexursa.jpg' 
                title="ERP Integrations with Magento: How to do it fast, good and affordable" 
                language="ro"
                speaker="Alex Ursa" 
                speakerCompany="Netlogiq" 
            />
            <Talk
                image='/assets/talks/mm14ro/razvanbarbu.png' 
                title="Offline - Online Commerce" 
                language="ro"
                speaker="Răzvan Barbu" 
                speakerCompany="Zitec" 
            />
            <Talk
                image='/assets/talks/mm14ro/panel1.jpg' 
                title="eCommerce 360" 
                language="ro"
                speaker="Laurențiu Marian, Remus Lucuț, Ioana Costea" 
                speakerCompany="" 
            />
            <Talk
                image='/assets/talks/mm14ro/kubazwolinski.jpg' 
                title="Magento B2B case study" 
                language="en"
                speaker="Kuba Zwolinski" 
                speakerCompany="Snowdog" 
            />
            <Talk
                image='/assets/talks/mm14ro/deryckharlick.jpg' 
                title="The forgotten heart of Magento: empowering end-users for the benefit of everyone" 
                language="en"
                speaker="Deryck Harlick" 
                speakerCompany="" 
            />
        </div>
        <h4 class="container py-4">Technical Track</h4>
        <div class="container grid grid-cols-1 md:grid-cols-2 mx-auto pb-4 sm:pb-4 gap-6">
            <Talk 
                image='/assets/talks/mm14ro/fabianblechschmidt.jpg' 
                title="Half a roush hour of magento" 
                language="en"
                speaker="Fabian Blechschmidt" 
                speakerCompany="" 
            />
            <Talk 
                image='/assets/talks/mm14ro/kamilbarbarski.jpg' 
                title="Beyond Building Features - Agile Business Model Development with Lean Startup" 
                language="en"
                speaker="Kamil Barbarski" 
                speakerCompany="" 
            />
            <Talk 
                image='/assets/talks/mm14ro/kamilbarbarski.jpg' 
                title="Responsive Design for Magento" 
                language="en"
                speaker="Tom Robertshaw" 
                speakerCompany="Meanbee" 
            />
            <Talk 
                image='/assets/talks/mm14ro/antonkrill.jpg' 
                title="Magento 2 Code Concepts" 
                language="en"
                speaker="Anton Krill" 
                speakerCompany="Magento" 
            />
            <Talk 
                image='/assets/talks/mm14ro/igorminialo.jpg' 
                title="Modular development in Magento 2" 
                language="en"
                speaker="Igor Minialo" 
                speakerCompany="Magento" 
            />
            <Talk 
                image='/assets/talks/mm14ro/nikolaikrambrock.jpg' 
                title="Code Quality on Magento" 
                language="en"
                speaker="Nikolai Krambrock" 
                speakerCompany="" 
            />
            <Talk 
                image='/assets/talks/mm14ro/alexanderturiak.jpg' 
                title="Using Vagrant for Magento development" 
                language="en"
                speaker="Alexander Turiak" 
                speakerCompany="" 
            />
            <Talk 
                image='/assets/talks/mm14ro/davidmanners.jpg' 
                title="MDD - Mistake Driven Development" 
                language="en"
                speaker="David Manners" 
                speakerCompany="" 
            />
            <Talk 
                image='/assets/talks/mm14ro/razvanstoica.jpg' 
                title="Cyber Monday, every Monday: Running a Large Scale Private Sales Site on AWS" 
                language="ro"
                speaker="Răzvan Stoica" 
                speakerCompany="Optaros" 
            />
            <Talk 
                image='/assets/talks/mm14ro/bogdangeorgescu.jpg' 
                title="Magento Performance Monitoring and Troubleshooting with AppNeta TraceView" 
                language="ro"
                speaker="Bogdan Georgescu" 
                speakerCompany="Optaros" 
            />
        </div>

        <div class="container flex items-center flex-wrap mx-auto pt-12 pb-20 sm:pt-18 sm:pb-26 md:flex-nowrap md:gap-6">
            <div class="w-full flex-col order-last pt-4 sm:w-1/2 sm:pt-0 sm:order-first">
                <h5>Organised by</h5>
                <h2 class="pb-3">MindMagnet</h2>
            </div>
            <div class="flex w-full h-48 bg-purple-50 flex-col pt-4 sm:w-1/2 sm:pt-0 items-center justify-center">
                <img src="/assets/sponsors/mindmagnet.svg" alt="MindMagnet" class="w-1/2 mx-auto" />
            </div>
        </div>

		<Newsletter />
	</main>
</Layout>
