---
import Layout from '../../layouts/Layout.astro';
import PageBanner from '../../components/PageBanner.astro';
import SubNavigation from '../../components/Past/SubNavigation.astro';
import Talk from '../../components/Past/Talk.astro';
import Newsletter from '../../components/Newsletter.astro';
---

<Layout title="Meet Magento 2017">
	<main>
		<PageBanner title="Meet Magento 2017" />
        <SubNavigation selected="mm17ro" />

        <h2 class="container pb-4 sm:pb-8">Presentations</h2>
        <h4 class="container pb-4">Keynote</h4>
        <div class="container grid grid-cols-1 md:grid-cols-2 mx-auto pb-4 sm:pb-4 gap-6">
            <Talk 
                image='/assets/talks/mm17ro/benmarks.png' 
                title="The future of Magento" 
                language="en"
                speaker="Ben Marks" 
                speakerCompany="Magento" 
                video="https://youtu.be/LlLWpaqGOL8"
            />
        </div>
        <h4 class="container py-4">Business Track</h4>
        <div class="container grid grid-cols-1 md:grid-cols-2 mx-auto pb-4 sm:pb-4 gap-6">
            <Talk
                image='/assets/talks/mm17ro/elenadobre.png' 
                title="Promovarea pe mobil - aplicații și mobi-site-uri - 7 recomandări de performanță" 
                language="ro"
                speaker="Elena Dobre" 
                speakerCompany="Zarbi" 
                video="https://youtu.be/oXmotz4FRD8"
            />
            <Talk 
                image='/assets/talks/mm17ro/bogdanherea.png' 
                title="Roundtable - Provocarile unui eCommerce startup în 2018" 
                language="ro"
                speaker="Bogdan Herea" 
                speakerCompany="PitechPlus" 
            />
            <Talk 
                image='/assets/talks/mm17ro/dorinboerescu.png' 
                title="Performance marketing in sharing economy" 
                language="ro"
                speaker="Dorin Boerescu" 
                speakerCompany="2Performant" 
                video="https://youtu.be/uEaT7xWn_LU"
            />
            <Talk 
                image='/assets/talks/mm17ro/roundtable1.png' 
                title="GoOnline Roundtable" 
                language="ro"
                speaker="Sergiu Babașan, Ovidiu Kalman, Marius Panait, Marius Flore" 
                speakerCompany="Optimized" 
                video="https://youtu.be/d74s9856XE8"
            />
            <Talk 
                image='/assets/talks/mm17ro/robertberza.png' 
                title="BlackFriday la FashionDays - interviu" 
                language="ro"
                speaker="Robert Berza" 
                speakerCompany="FashionDays" 
            />
            <Talk 
                image='/assets/talks/mm17ro/valentinradu.png' 
                title="How and why to make your Magento eCommerce Customer-Centric" 
                language="ro"
                speaker="Valentin Radu" 
                speakerCompany="Omniconvert" 
                video="https://youtu.be/mmpLJgX_wm0"
            />
            <Talk 
                image='/assets/talks/mm17ro/bogdancolceriu.png' 
                title="The actual costs for operating an online store" 
                language="ro"
                speaker="Bogdan Colceriu" 
                speakerCompany="Frisbo" 
                video="https://youtu.be/g2gIGTTwJeI"
            />
            <Talk 
                image='/assets/talks/mm17ro/adrianilovan.png' 
                title="Magento 2 vs WooCommerce pentru magazine online B2C și B2B" 
                language="ro"
                speaker="Adrian Ilovan" 
                speakerCompany="" 
                video="https://youtu.be/55w6hgram64"
            />
            <Talk 
                image='/assets/talks/mm17ro/alexandracohutiu.png' 
                title="From Setting Up The Relationship With The Investors to Data Protection" 
                language="ro"
                speaker="Alexandra Cohutiu" 
                speakerCompany="LLA" 
                video="https://youtu.be/DRcec6AnHAE"
            />

            <Talk 
                image='/assets/talks/mm17ro/guidojansen.png' 
                title="Global and local strategies for Merchants and Agencies" 
                language="en"
                speaker="Guido Jansen" 
                speakerCompany="Frisbo" 
                video="https://youtu.be/UEuyMR2c1-c"
            />
            <Talk 
                image='/assets/talks/mm17ro/cristianfilimon.png' 
                title="Cum sa iti optimizezi relatia cu agentia de webdevelopment" 
                language="ro"
                speaker="Cristian Filimon" 
                speakerCompany="Symbolic" 
                video="https://youtu.be/Ijrd8xhz3Xo"
            />
        </div>
        <h4 class="container py-4">Technical Track</h4>
        <div class="container grid grid-cols-1 md:grid-cols-2 mx-auto pb-4 sm:pb-4 gap-6">
            <Talk 
                image='/assets/talks/mm17ro/mariusstrajeru.png' 
                title="The Magento &quot;Wat?&quot;" 
                language="en"
                speaker="Marius Străjeru" 
                speakerCompany="Arnia" 
                video="https://youtu.be/2ykt7m8lcEg"
            />
            <Talk 
                image='/assets/talks/mm17ro/maxyekaterynenko.png' 
                title="Magento 2 Open Source: What and How?" 
                language="en"
                speaker="Max Yekaterynenko" 
                speakerCompany="Magento" 
            />
            <Talk 
                image='/assets/talks/mm17ro/tomrobertshaw.png' 
                title="Improving engagement and conversions with Progressive Web Apps" 
                language="en"
                speaker="Tom Robertshaw" 
                speakerCompany="MeanBee" 
            />
            <Talk 
                image='/assets/talks/mm17ro/bartekigielski.png' 
                title="The right tools for the right job" 
                language="en"
                speaker="Riccardo Tempesta" 
                speakerCompany=""
            />
            <Talk 
                image='/assets/talks/mm17ro/rebeccabrocton.png' 
                title="Do not attend this talk, the speaker is a complete fraud" 
                language="en"
                speaker="Rebecca Brocton" 
                speakerCompany="" 
            />
            <Talk 
                image='/assets/talks/mm17ro/ievgenshakhsuvarov.png' 
                title="CQRS and Event Sourcing in Magento 2" 
                language="en"
                speaker="Ievgen Shakhsuvarov" 
                speakerCompany="Magento" 
            />
            <Talk 
                image='/assets/talks/mm17ro/andralungu.png' 
                title="Tools out of the box with Magento 2 in PHPSTORM" 
                language="en"
                speaker="Andra Lungu" 
                speakerCompany="Bitbull"
            />
            <Talk 
                image='/assets/talks/mm17ro/sandermangel.png' 
                title="Headless Magento" 
                language="en"
                speaker="Sander Mangel" 
                speakerCompany="" 
            />
            <Talk 
                image='/assets/talks/mm17ro/sherrierohde.png' 
                title="Building an Inclusive Magento Community" 
                language="en"
                speaker="Sherrie Rohde" 
                speakerCompany="Magento"
                video="https://youtu.be/7eV4BbCVo3I"
            />
            <Talk 
                image='/assets/talks/mm17ro/goranbokun.png' 
                title="Start small to win or lose big - why you should keep an eye on details when managing eCommerce projects" 
                language="en"
                speaker="Goran Bokun" 
                speakerCompany="Inchoo"
                video="https://youtu.be/R_JvjGRmdys" 
            />
            <Talk 
                image='/assets/talks/mm17ro/ievgenshakhsuvarov.png' 
                title="Magento 2.2 Technical Guidelines" 
                language="en"
                speaker="Ievgen Shakhsuvarov" 
                speakerCompany="Magento" 
                video="https://youtu.be/joLg84Xjy6Q"
            />

            <Talk 
                image='/assets/talks/mm17ro/pavlookhrem.png' 
                title="12 Ways to improve Magento 2 Security and Performance" 
                language="en"
                speaker="Pavlo Okhrem" 
                speakerCompany="" 
                video="https://youtu.be/eGbglrcwjB0"
            />
            <Talk 
                image='/assets/talks/mm17ro/razvanavramescu.png' 
                title="Magento 2 on Kubernetes" 
                language="en"
                speaker="Răzvan Avramescu" 
                speakerCompany="" 
                video="https://youtu.be/mERet8xUoA0"
            />
            <Talk 
                image='/assets/talks/mm17ro/bartekigielski.png' 
                title="Magento 2 Front-end performance tips &amp; tricks" 
                language="en"
                speaker="Bartek Igielski" 
                speakerCompany="Snowdog" 
                video="https://youtu.be/ec1E6D3OVOg"
            />
            <Talk 
                image='/assets/talks/mm17ro/maciejkalkowski.png' 
                title="Magento 2 Server Optimisation" 
                language="en"
                speaker="Maciej Kalkowski" 
                speakerCompany="Snowdog" 
            />
            <Talk 
                image='/assets/talks/mm17ro/norberthes.png' 
                title="Magneto 2 Server Optimisation" 
                language="en"
                speaker="Norbert Hes" 
                speakerCompany="" 
                video="https://youtu.be/oC2PSu5z-0w"
            />
        </div>

        <div class="container flex items-center flex-wrap mx-auto pt-12 pb-20 sm:pt-18 sm:pb-26 md:flex-nowrap md:gap-6">
            <div class="w-full flex-col order-last pt-4 sm:w-1/2 sm:pt-0 sm:order-first">
                <h5>Organised by</h5>
                <h2 class="pb-3">MindMagnet</h2>
            </div>
            <div class="flex w-full h-48 bg-purple-50 flex-col pt-4 sm:w-1/2 sm:pt-0 items-center justify-center">
                <img src="/assets/sponsors/mindmagnet.svg" alt="MindMagnet" class="w-1/2 mx-auto" />
            </div>
        </div>

		<Newsletter />
	</main>
</Layout>
