---
import Layout from '../../layouts/Layout.astro';
import PageBanner from '../../components/PageBanner.astro';
import SubNavigation from '../../components/Past/SubNavigation.astro';
import Talk from '../../components/Past/Talk.astro';
import Newsletter from '../../components/Newsletter.astro';
import Sponsors from '../../components/Home/Sponsors.astro';

import { SponsorsData } from '../../components/Sponsors/data-mm21ro';

---

<Layout title="Meet Magento 2021">
	<main>
		<PageBanner title="Meet Magento 2021" />
        <SubNavigation selected="mm21ro" />

        <h2 class="container pb-4 sm:pb-8">Presentations</h2>
        <h4 class="container pb-4">Keynote</h4>
        <div class="container grid grid-cols-1 md:grid-cols-2 mx-auto pb-4 sm:pb-4 gap-6">
            <Talk 
                image='/assets/talks/mm21ro/ericerway.png' 
                title="Magento Product Updates" 
                language="en"
                speaker="Eric Erway" 
                speakerCompany="Adobe" 
                video="https://youtu.be/z-WE1IDcwbQ"
            />
        </div>
        <h4 class="container py-4">Business Track</h4>
        <div class="container grid grid-cols-1 md:grid-cols-2 mx-auto pb-4 sm:pb-4 gap-6">
            <Talk
                image='/assets/talks/mm21ro/raduapreutesei.png' 
                title="Importanța Strategiei de tip Funnel și Interpretarea Corectă a Rezultatelor în suita Google" 
                language="ro"
                speaker="Radu Apreutesei" 
                speakerCompany="Zea" 
                video="https://youtu.be/1Ae-2bAdns8"
            />
            <Talk 
                image='/assets/talks/mm21ro/danagate.png' 
                title="Returns. How to create and manage a smooth system" 
                language="ro"
                speaker="Dana Gațe" 
                speakerCompany="Frisbo" 
                video="https://youtu.be/ae-rDyRsdcA"
            />
            <Talk 
                image='/assets/talks/mm21ro/alinamitrica.png' 
                title="Marketing automation tools you must integrate with Magento" 
                language="ro"
                speaker="Alina Mitrică" 
                speakerCompany="Retargeting" 
                video="https://youtu.be/pLHzw3iyVZ8"
            />
            <Talk 
                image='/assets/talks/mm21ro/silvianiculescu.png' 
                title="Importanța Cunoașterii Comportamentului Consumatorului pentru un Business de Succes" 
                language="ro"
                speaker="Silvia Niculescu" 
                speakerCompany="Zea" 
                video="https://youtu.be/j5Moc0cUanw"
            />
            <Talk 
                image='/assets/talks/mm21ro/mihaibocai.png' 
                title="Enhance your Black Friday Strategy with User Generated Content" 
                language="ro"
                speaker="Mihai Bocai" 
                speakerCompany="Product Lead" 
                video="https://youtu.be/a6swHtNYBLo"
            />
            <Talk 
                image='/assets/talks/mm21ro/iulianghisoiu.png' 
                title="Cum faci SEO la o pagina de produs" 
                language="ro"
                speaker="Iulian Ghișoiu" 
                speakerCompany="Target Web" 
                video="https://youtu.be/ihX-FoZZYDI"
            />
            <Talk 
                image='/assets/talks/mm21ro/ciprianborodescu.png' 
                title="AI E-commerce Tenets" 
                language="ro"
                speaker="Ciprian Borodescu" 
                speakerCompany="Algolia" 
                video="https://youtu.be/ssJEWvAwPtE"
            />
            <Talk 
                image='/assets/talks/mm21ro/danielamarin.png' 
                title="BERD in sprijinul antreprenorilor locali" 
                language="ro"
                speaker="Daniela Marin" 
                speakerCompany="BERD" 
                video="https://youtu.be/Hm3j9bMyxCk"
            />
            <Talk 
                image='/assets/talks/mm21ro/christianwilhelmroth.png' 
                title="Livestreaming as a Sales Booster? " 
                language="en"
                speaker="Christian Wilhelm Roth" 
                speakerCompany="StageMe.Live" 
                video="https://youtu.be/8xjgdnntCBY"
            />
        </div>
        <h4 class="container py-4">Technical Track</h4>
        <div class="container grid grid-cols-1 md:grid-cols-2 mx-auto pb-4 sm:pb-4 gap-6">
            <Talk 
                image='/assets/talks/mm21ro/vinaikopp.png' 
                title="Howto Hyvä - Compatibility Modules" 
                language="en"
                speaker="Vinai Kopp" 
                speakerCompany="Hyvä" 
                video="https://youtu.be/D88NoVwEclU"
            />
            <Talk 
                image='/assets/talks/mm21ro/riccardotempesta.png' 
                title="GraphQL in Magento2" 
                language="en"
                speaker="Riccardo Tempesta" 
                speakerCompany="Skeeller" 
                video="https://youtu.be/ci3kfbZX0Es"
            />
            <Talk 
                image='/assets/talks/mm21ro/alinalexandru.png' 
                title="Optimise the development process with simple tips and tricks" 
                language="ro"
                speaker="Alin Alexandru" 
                speakerCompany="Innobyte" 
                video="https://youtu.be/852750_zB_E"
            />
            <Talk 
                image='/assets/talks/mm21ro/sergioveradanieldelcarmen.png' 
                title="Upgrade Compatibility Tool" 
                language="en"
                speaker="Sergio Vera & Daniel Del Carmen" 
                speakerCompany="Adobe" 
                video="https://youtu.be/drdTbtw9Xqo"
            />
            <Talk 
                image='/assets/talks/mm21ro/valentinsandu.png' 
                title="Magento Indexers - Unlocked" 
                language="en"
                speaker="Valentin Sandu" 
                speakerCompany="R7 Digital Commerce" 
                video="https://youtu.be/smGIEuwR16c"
            />
            <Talk 
                image='/assets/talks/mm21ro/heitorramonribeiro.png' 
                title="Vue Storefront 2 & Magento 2 - The new best friends" 
                language="en"
                speaker="Heitor Ramon Ribeiro" 
                speakerCompany="VueStoreFront" 
                video="https://youtu.be/7E3dwRywLqQ"
            />
            <Talk 
                image='/assets/talks/mm21ro/ivanchepurnyi.png' 
                title="Optimizing Magento by Preloading Data" 
                language="en"
                speaker="Ivan Chepurnyi" 
                speakerCompany="EcomDev" 
                video="https://youtu.be/-AEq_-0DgVo"
            />
            <Talk 
                image='/assets/talks/mm21ro/cristianpartica.png' 
                title="Evolving Adobe Commerce through modern APIs" 
                language="en"
                speaker="Cristian Partica" 
                speakerCompany="Adobe" 
                video="https://youtu.be/urgp-EH7JB8"
            />
            <Talk 
                image='/assets/talks/mm21ro/maxlesechko.png' 
                title="Renovation: long-awaited and modern updates" 
                language="en"
                speaker="Max Lesechko" 
                speakerCompany="Adobe" 
                video="https://youtu.be/c5UErymdvbI"
            />
        </div>

        <div class="container flex items-center flex-wrap mx-auto pt-12 pb-20 sm:pt-18 sm:pb-26 md:flex-nowrap md:gap-6">
            <div class="w-full flex-col order-last pt-4 sm:w-1/2 sm:pt-0 sm:order-first">
                <h5>Organised by</h5>
                <h2 class="pb-3">Zento</h2>
                <p class="text-l font-normal text-gray-600 pb-8">Zento is a Software-as-a-Service (SaaS) solution built on top of Magento 2 and offers fully managed eCommerce solutions with state-of-the-art Cloud hosting to medium and large merchants.</p>
                <a
                    id="zento-link"
                    class="text-orange-600 no-underline hover:text-orange-700 hover:underline"
                    target="_blank"
                    href="https://www.zentoshop.com"
                >
                    Visit Zento
                </a>
            </div>
            <div class="w-full bg-purple-50 flex-col pt-4 sm:w-1/2 sm:pt-0">
                <img src="/assets/sponsors/zentoshop.svg" alt="Zento" class="w-1/2 mx-auto" />
            </div>
        </div>

		<div class="container flex items-center flex-wrap mx-auto pb-20 sm:pb-2 md:flex-nowrap md:gap-6">
			<div class="w-full">
				<h5>2021 Online Edition</h5>
				<h2 class="pb-3">Sponsored by</h2>
			</div>
		</div>
		<Sponsors sponsors={SponsorsData}/>

		<Newsletter />
	</main>
</Layout>
