---
export interface Props {
}

// const {  } = Astro.props;
---
<div class="w-full bg-gray-800 text-white">
    <div class="flex items-center justify-between p-4 mx-auto max-w-screen-2xl">
        <div>
        <img src='/assets/mmro_logo.png' alt="Meet Magento Romania" class="h-8" />
        </div>
        <div class="flex">
            <a href="#" class="px-4 py-2 mr-2 text-white hover:bg-gray-700">Agenda</a>
            <a href="#" class="px-4 py-2 mr-2 text-white hover:bg-gray-700">Speakers</a>
            <a href="#" class="px-4 py-2 mr-2 text-white hover:bg-gray-700">Sonsors</a>
            <a href="#" class="px-4 py-2 mr-2 text-white hover:bg-gray-700">Venue</a>
            <a href="#" class="px-4 py-2 mr-2 text-white hover:bg-gray-700">Call for Papers</a>
            <a href="#" class="px-4 py-2 mr-2 text-white hover:bg-gray-700">Past Events</a>
            <a href="#" class="px-4 py-2 mr-2 text-white hover:bg-gray-700">Contact</a>
            <a href="#" class="px-4 py-2 text-white hover:bg-gray-700">Buy Tickets</a>
        </div>
    </div>
</div>