---
import Layout from '../layouts/Layout.astro';
import PageBanner from '../components/PageBanner.astro';
import Talk from '../components/Agenda/Talk.astro';
import Filler from '../components/Agenda/Filler.astro';
import Newsletter from '../components/Newsletter.astro';

---

<Layout title="Agenda - Meet Magento 2024">
	<main>
		<PageBanner title="Agenda" />

        <div class="container mx-auto my-12">
            <div class="grid grid-cols-1 md:grid-cols-7 gap-4">
                <!-- 09:00 - 10:00 -->
                <div class="sm:col-span-1 md:col-span-1 p-2 font-semibold text-xl border-l-4 border-gray-300">
                    09:00 - 10:00
                </div>
                <div class="sm:col-span-1 md:col-span-6 p-2">
                    <Filler
                        icon='registration'
                        title='Registration'
                        subtitle='Grab your badge and get ready for the event'
                    />
                </div>

                <!-- 10:00 - 10:30 -->
                <div class="sm:col-span-1 md:col-span-1 p-2 font-semibold text-xl border-l-4 border-gray-300">
                    10:00 - 10:05
                </div>
                <div class="sm:col-span-1 md:col-span-6 p-2">
                    <Filler
                        icon='opening'
                        title='OPENING: Welcome to Meet Magento 2024'
                        subtitle='Vlad Stănescu, Zento'
                        video="https://youtu.be/N20Hb2-zL48"
                    />
                </div>
                <div class="sm:col-span-1 md:col-span-1 p-2 font-semibold text-xl border-l-4 border-gray-300">
                    10:05 - 10:30
                </div>
                <div class="sm:col-span-1 md:col-span-6 p-2">
                    <Talk 
                        image='/assets/talks/mm23ro/mathiasschreiber.jpg' 
                        title="Magento Association - What's next?" 
                        track="keynote"
                        language="en"
                        speaker="Mathias Schreiber" 
                        speakerCompany="Magento Association" 
                        video="https://youtu.be/QV1qIK4mgPo"
                    />
                </div>

                <!-- 10:30 - 11:00 -->
                <div class="sm:col-span-1 md:col-span-1 p-2 font-semibold text-xl border-l-4 border-gray-300">
                    10:30 - 11:00
                </div>
                <div class="sm:col-span-1 md:col-span-6 p-2">
                    <Talk 
                        image='/assets/talks/mm23ro/raybogman.jpg' 
                        title="Support, or not to Support ... that's the question!" 
                        track="keynote"
                        language="en"
                        speaker="Ray Bogman" 
                        speakerCompany="Adobe" 
                        video="https://youtu.be/qSuQmtL6ohI"
                    />
                </div>

                <!-- Coffee 1 -->
                <div class="sm:col-span-1 md:col-span-1 p-2 font-semibold text-xl border-l-4 border-gray-300">
                    11:00 - 11:30
                </div>
                <div class="sm:col-span-1 md:col-span-6 p-2">
                    <Filler
                        icon='coffee'
                        title='Coffee Break'
                        subtitle='Grab a coffee and visit our sponsors'
                    />
                </div>

                <!-- 11:30 - 13:00 -->
                <div class="sm:col-span-1 md:col-span-1 p-2 font-semibold text-xl border-l-4 border-gray-300">
                    11:30 - 12:00
                </div>
                <div class="sm:col-span-1 md:col-span-3 p-2">
                    <Talk 
                        image='/assets/talks/mm23ro/mariusstrajeru.jpg' 
                        title='Putting "custom" in custom options' 
                        language="en"
                        track="technical"
                        speaker="Marius Străjeru" 
                        speakerCompany="Arnia" 
                        video="https://youtu.be/NzcC4DHBDyA"
                    />
                </div>
                <div class="sm:col-span-1 md:col-span-3 p-2">
                    <Talk 
                        image='/assets/talks/mm23ro/cosmincostea.jpg' 
                        title="Keep your customers loyal or keep losing money" 
                        track="business"
                        language="ro"
                        speaker="Cosmin Costea" 
                        speakerCompany="theMarketer" 
                        video="https://youtu.be/rDnz1tSEY1k"
                    />
                </div>

                <div class="sm:col-span-1 md:col-span-1 p-2 font-semibold text-xl border-l-4 border-gray-300">
                    12:00 - 12:30
                </div>
                <div class="sm:col-span-1 md:col-span-3 p-2">
                    <Talk 
                        image='/assets/talks/mm23ro/razvanbradea.jpg' 
                        title='Deliver fast and scalable shopping experiences with Catalog Service for Adobe Commerce' 
                        language="en"
                        track="technical"
                        speaker="Răzvan Bradea" 
                        speakerCompany="Adobe" 
                        video="https://youtu.be/U0m2kjrpY08"
                    />
                </div>
                <div class="sm:col-span-1 md:col-span-3 p-2">
                    <Talk 
                        image='/assets/talks/mm23ro/romanbalteanu.jpg' 
                        title="Harness the Power of AI" 
                        track="business"
                        language="ro"
                        speaker="Roman Bălțeanu" 
                        speakerCompany="Google" 
                        video="https://youtu.be/D5IeCm8baKI"
                    />
                </div>

                <div class="sm:col-span-1 md:col-span-1 p-2 font-semibold text-xl border-l-4 border-gray-300">
                    12:30 - 13:00
                </div>
                <div class="sm:col-span-1 md:col-span-3 p-2">
                    <Talk 
                        image='/assets/talks/mm23ro/lukaszbajsarowicz.jpg' 
                        title="(Don't) Leave Me Alone! - Facing depression in the remote times."
                        language="en"
                        track="technical"
                        speaker="Łukasz Bajsarowicz" 
                        speakerCompany="SwiftOtter" 
                        video="https://youtu.be/-K5OE4Oxxm8"
                    />
                </div>
                <div class="sm:col-span-1 md:col-span-3 p-2">
                    <Talk 
                        image='/assets/talks/mm23ro/vladmarincas.jpg' 
                        title="Personalization in eCommerce: what we can learn from Google, Netflix, Amazon and Facebook" 
                        track="business"
                        language="ro"
                        speaker="Vlad Marincaș" 
                        speakerCompany="Aqurate" 
                        video="https://youtu.be/NM3QlMZdQys"
                    />
                </div>


                <!-- Lunch -->
                <div class="sm:col-span-1 md:col-span-1 p-2 font-semibold text-xl border-l-4 border-gray-300">
                    13:00 - 14:00
                </div>
                <div class="sm:col-span-1 md:col-span-6 p-2">
                    <Filler
                        icon='lunch'
                        title='Lunch'
                        subtitle='Sponsored by cyber_Folks'
                    />
                </div>

                <div class="sm:col-span-1 md:col-span-1 p-2 font-semibold text-xl border-l-4 border-gray-300">
                    14:00 - 14:30
                </div>
                <div class="sm:col-span-1 md:col-span-3 p-2">
                    <Talk 
                        image='/assets/talks/mm23ro/calinpetrar.jpg' 
                        title="Google nu știe nimic"
                        language="ro"
                        track="technical"
                        speaker="Călin Petrar" 
                        speakerCompany="Times New Roman" 
                        video="https://youtu.be/dlt4yng7snY"
                    />
                </div>
                <div class="sm:col-span-1 md:col-span-3 p-2">
                    <Talk 
                        image='/assets/talks/mm23ro/arthurpajkert.jpg' 
                        title="Artificial intelligence in e-commerce. Are you standing or are you going?" 
                        track="business"
                        language="en"
                        speaker="Artur Pajkert" 
                        speakerCompany="cyber_Folks" 
                        video="https://youtu.be/RSBjXwPft2o"
                    />
                </div>

                <div class="sm:col-span-1 md:col-span-1 p-2 font-semibold text-xl border-l-4 border-gray-300">
                    14:30 - 15:00
                </div>
                <div class="sm:col-span-1 md:col-span-3 p-2">
                    <Talk 
                        image='/assets/talks/mm23ro/ivanchepurnyi.jpg' 
                        title="Better indexation without performance penalty"
                        language="en"
                        track="technical"
                        speaker="Ivan Chepurnyi" 
                        video="https://youtu.be/wOM5M26TrDE"
                    />
                </div>
                <div class="sm:col-span-1 md:col-span-3 p-2">
                    <Talk 
                        image='/assets/talks/mm23ro/alexandrubalaci.jpg' 
                        title="The State of the Fintech" 
                        track="business"
                        language="ro"
                        speaker="Alexandru Balaci" 
                        speakerCompany="Mokka" 
                        video="https://youtu.be/Gb4xTbx87kI"
                    />
                </div>

                <div class="sm:col-span-1 md:col-span-1 p-2 font-semibold text-xl border-l-4 border-gray-300">
                    15:00 - 15:30
                </div>
                <div class="sm:col-span-1 md:col-span-3 p-2">
                    <Talk 
                        image='/assets/talks/mm23ro/alinalexandru.jpg' 
                        title="How to monitor the performance of a Magento instance"
                        language="ro"
                        track="technical"
                        speaker="Alin Alexandru" 
                        speakerCompany="Innobyte" 
                        video="https://youtu.be/ylKnEk4Lyw4"
                    />
                </div>
                <div class="sm:col-span-1 md:col-span-3 p-2">
                    <Talk 
                        image='/assets/talks/mm23ro/paulapostu.jpg' 
                        title="Optimized Email Marketing Automation for Magento" 
                        track="business"
                        language="ro"
                        speaker="Paul Apostu" 
                        speakerCompany="eCommerce Today Agency" 
                        video="https://youtu.be/3S6EzLcl4AY"
                    />
                </div>


                <!-- Coffee 2 -->
                <div class="sm:col-span-1 md:col-span-1 p-2 font-semibold text-xl border-l-4 border-gray-300">
                    15:30 - 16:00
                </div>
                <div class="sm:col-span-1 md:col-span-6 p-2">
                    <Filler
                        icon='coffee'
                        title='Coffee Break'
                        subtitle='Grab a coffee and visit our sponsors'
                    />
                </div>

                <!-- Group 3 -->
                <div class="sm:col-span-1 md:col-span-1 p-2 font-semibold text-xl border-l-4 border-gray-300">
                    16:00 - 16:30
                </div>
                <div class="sm:col-span-1 md:col-span-3 p-2">
                    <Talk 
                        image='/assets/talks/mm23ro/zitec.jpg' 
                        title="Black Friday Scaling Success: A Magento 2 Case Study on Kubernetes"
                        language="ro"
                        track="technical"
                        speaker="George Mușat & Cristian Glăvan" 
                        speakerCompany="Zitec"
                        video="https://youtu.be/sh3Z10KkoWk"
                    />
                </div>
                <div class="sm:col-span-1 md:col-span-3 p-2">
                    <Talk 
                        image='/assets/talks/mm23ro/cipriancazacu.jpg' 
                        title="E-Commerce in contextul actual si cum ne putem adapta" 
                        track="business"
                        language="ro"
                        speaker="Ciprian Cazacu" 
                        speakerCompany="easySales" 
                        video="https://youtu.be/UGK0npEKJaA"
                    />
                </div>

                <div class="sm:col-span-1 md:col-span-1 p-2 font-semibold text-xl border-l-4 border-gray-300">
                    16:30 - 17:00
                </div>
                <div class="sm:col-span-1 md:col-span-3 p-2">
                    <Talk 
                        image='/assets/talks/mm23ro/valentinsandu.jpg' 
                        title="Bundle Price Reindex takes its time"
                        track="technical"
                        language="en"
                        speaker="Valentin Sandu" 
                        speakerCompany="R7 Digital Commerce" 
                        video="https://youtu.be/XD3DJ7Q9IEg"
                    />
                </div>
                <div class="sm:col-span-1 md:col-span-3 p-2">
                    <Talk 
                        image='/assets/talks/mm23ro/attilakiraly.jpg' 
                        title="2 Be or Not 2 Be: Importanța Strategiei de Marketing în Era Digitală"
                        language="ro"
                        track="business"
                        speaker="Attila Kiraly" 
                        speakerCompany="SEO 365" 
                        video="https://youtu.be/d7eswiqhhGU"
                    />
                </div>

                <div class="sm:col-span-1 md:col-span-1 p-2 font-semibold text-xl border-l-4 border-gray-300">
                    17:00 - 17:30
                </div>
                <div class="sm:col-span-1 md:col-span-3 p-2">
                    <Talk 
                        image='/assets/talks/mm23ro/sorindumitrescu.jpg' 
                        title="Environments as a Service - Increase developer productivity and improve DX"
                        language="ro"
                        track="technical"
                        speaker="Sorin Dumitrescu" 
                        speakerCompany="Bunnyshell"
                        video="https://youtu.be/7SmZ8aEutnE"
                    />
                </div>
                <div class="sm:col-span-1 md:col-span-3 p-2">
                    <Talk 
                        image='/assets/talks/mm23ro/sorintrifu.jpg' 
                        title="Noul rol al agentiilor de marketing in era AI / chatGPT" 
                        track="business"
                        language="ro"
                        speaker="Sorin Trifu" 
                        speakerCompany="HOLD Marketing" 
                        video="https://youtu.be/wn1Fx1iaQz0"
                    />
                </div>


                <!-- Party -->
                <div class="sm:col-span-1 md:col-span-1 p-2 font-semibold text-xl border-l-4 border-gray-300">
                    20:00 - 00:00
                </div>
                <div class="sm:col-span-1 md:col-span-6 p-2">
                    <Filler
                        icon='party'
                        title='After Party - 404 Party'
                        subtitle="Meet us a Colin's Gastro Pub for a drink and some food"
                        map="https://goo.gl/maps/qrVuQAmhofjfXMqo7"
                    />
                </div>
            </div>
        </div>

		<Newsletter />
	</main>
</Layout>
