---
import Layout from '../layouts/Layout.astro';
// import BannerPreEvent from '../components/Home/BannerPreEvent.astro';
import Newsletter from '../components/Newsletter.astro';
---

<Layout title="Call For Sponsors - MeetMagento 2023">
	<main>
		<!-- <BannerPreEvent /> -->
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfLuQLcYWJzIL1nNGJjygh8MlsqKk2wZ6RlcR6gSldYe5vT0Q/viewform?embedded=true" width="640" height="884" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
		<Newsletter />
	</main>
</Layout>