---
import Layout from '../layouts/Layout.astro';
import PageBanner from '../components/PageBanner.astro';
import Newsletter from '../components/Newsletter.astro';
---

<Layout title="Call For Papers - MeetMagento 2023">
	<main>
		<PageBanner title="Call for Papers" />
		<div class="iframe-container relative w-full overflow-hidden mb-8">
			<iframe
				src="https://docs.google.com/forms/d/e/1FAIpQLSdQL6F2hNrqzh2O_ijgyIrbgCFz8DO5gQAQuSKeriBJ39enjw/viewform?embedded=true"
				width="640" height="1475" frameborder="0" marginheight="0" marginwidth="0" class="responsive-iframe mx-auto">
				Loading…
			</iframe>
		</div>
		<Newsletter />
	</main>
</Layout>
