---
import Layout from '../layouts/Layout.astro';
import PageBanner from '../components/PageBanner.astro';
import Newsletter from '../components/Newsletter.astro';
---

<Layout title="Call For Papers - MeetMagento 2025">
	<main>
		<PageBanner title="Call for Papers" />

        <div class="container w-full text-l pt-3 pb-10 text-gray-600">
			<!-- <p class="text-xl font-normal text-gray-600 pb-6">Meet Magento events are focuse on the community, so our stage is open for members of the community to share their stories.</p>
			<p class="text-xl font-normal text-gray-600 pb-6">You can use the form below to submit your technical or business topic. Our selection process is focused on bringing a good balanced agenda and the most varied and unique content to our audience.</p>
			<p class="text-xl font-normal text-gray-600 pb-6">Be bold and submit your best idea.</p> -->
            <h2 class="pb-2">Call for Papers is Closed</h2>
			<p class="text-xl font-normal text-gray-600 pb-6">The form will be open as soon as we announce the new date.</p>
            <!-- <p class="text-xl font-normal text-gray-600 pb-6">A big thank you to all our speakers for the generous contribution of their time.</p> -->
        </div>

		<!-- <div class="iframe-container relative w-full overflow-hidden mb-8">
			<iframe 
				src="https://docs.google.com/forms/d/e/1FAIpQLSe8H_nZURLOE94nQFLbfmiPIPDzTcG4tm4pbzjRMFPNNAvIXg/viewform?embedded=true" 
				width="640" height="1713" frameborder="0" marginheight="0" marginwidth="0"
				class="responsive-iframe mx-auto">
				Loading…
			</iframe>
		</div> -->

		<Newsletter />
	</main>
</Layout>
