---
import Layout from '../layouts/Layout.astro';
import Newsletter from '../components/Newsletter.astro';
---

<Layout title="Contact Us - Meet Magento">
	<main>
        Contact
		<Newsletter />
	</main>
</Layout>