---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro';
import Info from '../components/Info.astro';
import Newsletter from '../components/Newsletter.astro';
---

<Layout title="Welcome to MMRO">
	<main>
		<Banner />
		<Info />
		<Newsletter />
	</main>
</Layout>