---
import { Picture } from '@astrojs/image/components';

import heroMobile from '../../assets/banners/hero-mobile.png';
import heroTablet from '../../assets/banners/hero-tablet.png';
import heroDesktop from '../../assets/banners/hero-desktop.png';

// export interface Props {
// }

// const {  } = Astro.props;
---

<div class="relative mb-12">
    <Picture
        src={heroMobile}
        aspectRatio="1:1"
        fix="cover"
        widths={[480]}
        sizes=""
        formats={['webp', 'png']}
        alt="Meet Magento Romania 2023, 8 May"
        class={"w-full h-full object-cover sm:hidden"}
    />
    <Picture
        src={heroTablet}
        aspectRatio="1:1"
        fix="cover"
        widths={[768]}
        sizes=""
        formats={['webp', 'png']}
        alt="Meet Magento Romania 2023, 8 May"
        class={"w-full h-full object-cover hidden sm:block lg:hidden"}
    />
    <Picture
        src={heroDesktop}
        aspectRatio="16:9"
        fix="cover"
        widths={[1320]}
        sizes=""
        formats={['webp', 'png']}
        alt="Meet Magento Romania 2023, 8 May"
        class={"w-full h-full object-cover hidden lg:block"}
    />
    <div class="absolute bottom-0 py-4 px-6 flex flex-col justify-center lg:top-2/4 lg:bottom-full lg:left-60 lg:translate-y-2/4">
        <strong class="relative text-xl font-semibold text-white mb-3 pl-4 sm:mb-6 before:content
          before:absolute before:top-0 before:bottom-0 before:left-0 before:w-2 before:bg-orange-600">
            MM23RO - Save the date
        </strong>
        <h1 class="display-mobile-s sm:display-desktop-l text-white pb-3">May 8, 2023</h1>
        <p class="text-xl text-white font-normal">The event will be held in Cluj-Napoca, at Grand Hotel Italia.</p>
    </div>
</div>