---
import { Picture } from '@astrojs/image/components';

import sponsors from '../../assets/banners/call-for-sponsors.png';

import Button from '../Button.astro';

// export interface Props {
// }

// const {  } = Astro.props;
---
<div id="call-for-sponsors" class="basis-full md:basis-6/12">
    <Picture
        src={sponsors}
        aspectRatio="16:9"
        fix="cover"
        widths={[400]}
        sizes="(min-width: 320px) 100%"
        formats={['png', 'webp']}
        alt="Papers image"
        class={"w-full h-full object-cover"}
    />
    <div class="flex flex-col pt-4">
        <h2 class="pb-2">Call for Sponsors</h2>
        <p class="text-xl font-normal text-gray-600 pb-6">Want to support the event?</p>
        <a
            id="apply-for-sponsor"
            class="w-full max-w-48 bg-orange-600 button-m text-white rounded
            py-4 px-4 hover:bg-orange-700 focus:outline-none"
            href="/call-for-sponsors"
        >
            Become a sponsor
        </a>
    </div>
</div>