---
import { Picture } from '@astrojs/image/components';

import Banner from '../../assets/banners/introbanner.png';
---
<div class="container flex items-center flex-wrap mx-auto pb-20 sm:pb-26 md:flex-nowrap md:gap-6">
    <div class="w-full sm:w-1/2 flex-col pt-4 sm:order-first order-last">
        <h5>Meet Magento Romania</h5>
        <h2 class="pb-3">2023, Welcome Back!</h2>
        <p class="text-l font-normal text-gray-600 pb-3">After 3 difficult years, we're happy to be back with Meet Magento Romania as an in-person event.</p>
        <p class="text-l font-normal text-gray-600 pb-8">Join us at our 8th edition to get the latest updates about Magento & eCommerce trends and connect with our amazing community.</p>
    </div>
    <div class="w-full sm:w-1/2 flex-col pt-4">
        <Picture
            src={Banner}
            aspectRatio="1:1"
            fix="cover"
            widths={[628, 1256]}
            sizes=""
            formats={['webp', 'png']}
            alt="Meet Magento Romania 2023 Venue"
            class={"w-full h-full object-cover"}
            loading={'lazy'}
        />
    </div>
</div>