---
// export interface Props {
// }

// const {  } = Astro.props;
---
<div class="basis-full mb-10 md:basis-6/12 md:mb-0">
    <h2>Fill out the form</h2>
    <div class="iframe-container relative w-full overflow-hidden mb-8">
        <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSf_8_WJqFcBxu65CrgMjayYB7DkuDBjg3uqPr9IH_U7ng0Cpw/viewform?embedded=true"
            width="640" height="709" frameborder="0" marginheight="0" marginwidth="0" class="responsive-iframe mx-auto">
            Loading…
        </iframe>
    </div>
</div>
