---
export interface Props {
  dataId?: string;
}

const { dataId = '' } = Astro.props;
---

<button
    id={dataId}
    class="w-full max-w-48 bg-orange-600 button-m text-white rounded
      py-4 px-4 hover:bg-orange-700 focus:outline-none">
    <slot />
</button>
