---
// export interface Props {
// }

// const {  } = Astro.props;
const year = new Date().getFullYear();
---
<footer id="contact" class="bg-purple-900">
    <div class="container flex items-center flex-wrap mx-auto py-12">
        <div class="basis-full mb-8 sm:basis-6/12 sm:mb-0">
            <p class="text-base font-semibold leading-snug tracking-normal text-white pb-2">
                #mm25RO brought to you by:
            </p>
            <div class="w-40 h-9 bg-logo-footer bg-no-repeat bg-contain bg-left">
                <a href="https://www.zentoshop.com/" rel="noopener" target="_blank" class="block w-full h-full" aria-label="Zento" />
            </div>
        </div>
        <div class="basis-full sm:flex sm:justify-end sm:flex-wrap sm:basis-6/12">
            <p class="text-base font-semibold leading-snug tracking-normal text-white pb-2 sm:basis-full sm:text-right">
                You can find us on:
            </p>
            <div class="flex items-center flex-nowrap gap-3">
                <div class="w-12 h-12 bg-facebook bg-no-repeat bg-auto bg-center border border-white-opacity-400 rounded-full">
                    <a href="https://www.facebook.com/meetmagentoromania" rel="noopener" target="_blank" class="block w-full h-full" aria-label="Facebook" />
                </div>
                <div class="w-12 h-12 bg-twitter bg-no-repeat bg-auto bg-center border border-white-opacity-400 rounded-full">
                    <a href="https://twitter.com/meetmagentoro" rel="noopener" target="_blank" class="block w-full h-full" aria-label="Twitter" />
                </div>
                <div class="w-12 h-12 bg-linkedin bg-no-repeat bg-auto bg-center border border-white-opacity-400 rounded-full">
                    <a href="https://www.linkedin.com/company/meet-magento-romania/" rel="noopener" target="_blank" class="block w-full h-full" aria-label="LinkedIn" />
                </div>
                <div class="w-12 h-12 bg-youtube bg-no-repeat bg-auto bg-center border border-white-opacity-400 rounded-full">
                    <a href="https://www.youtube.com/user/meetmagentoromania" rel="noopener" target="_blank" class="block w-full h-full" aria-label="YouTube" />
                </div>
            </div>
        </div>
    </div>
    <div class="border-b border-purple-800 md:flex-nowrap" />
    <div class="container flex items-center flex-wrap mx-auto py-8">
        <ul class="basis-full flex items-center justify-center flex-wrap pb-6 sm:flex-nowrap sm:pb-3">
            <li class="basis-full sm:basis-auto pb-3 sm:p-3">
                <a href="/code-of-conduct" class="text-sm font-normal leading-snug tracking-normal
                  text-white underline hover:no-underline">
                    Code of Conduct
                </a>
            </li>
        </ul>
        <div class="basis-full flex items-center justify-center flex-wrap sm:flex-nowrap">
            <p class="basis-full text-sm font-normal leading-snug tracking-normal text-purple-400 pb-2 sm:basis-auto sm:pb-0">
                &copy; {year} Meet Magento Romania &middot;
            </p>
            <p class="basis-full text-sm font-normal leading-snug tracking-normal text-purple-400 pb-2 sm:basis-auto sm:pb-0 sm:pl-1 sm:pr-2">
                Meet Magento is a brand of the
            </p>
            <div class="basis-full w-40 h-6 bg-logo-magento bg-no-repeat bg-contain bg-left sm:basis-auto">
                <a href="https://www.magentoassociation.org" rel="noopener" target="_blank" class="block w-full h-full" aria-label="Magento Association" />
            </div>
        </div>
    </div>
</footer>
