---
// export interface Props {
// }

// const {  } = Astro.props;

// TODO: create image component
---
<header id="header" class="absolute w-full bg-gradient-to-b from-black py-1 px-6 sm:py-5 sm:px-6 lg:py-3 lg:px-12 z-20">
    <div class="flex items-center mx-auto">
        <!-- Logo -->
        <div id="logo" class="basis-1/2 w-full h-14 bg-logo bg-no-repeat bg-contain bg-center sm:bg-left lg:basis-1/6 lg:h-18">
            <a href="/" class="block w-full h-full" />
        </div>

        <!-- Main Nav - Mobile -->
        <nav class="basis-1/2 flex items-center justify-end md:hidden">
            <!-- <button
                class="hidden sm:block md:hidden w-full max-w-32 bg-orange-600 button-s text-white rounded
                  py-4 px-4 mr-4 hover:bg-orange-700 focus:outline-none">
                Buy Tickets
            </button> -->
            <button id="mobile-menu-open" class="w-6 h-6 bg-hamburger" />
            <section
                id="mobile-menu"
                class="hide-menu fixed top-0 left-0 w-full h-full transition-transform bg-black/75 z-10">
                <div class="w-9/12 h-full bg-black drop-shadow-2xl ml-auto">
                    <button data-mobile-menu-close class="block w-6 h-6 bg-close bg-no-repeat bg-center p-6 mr-3 ml-auto" />
                    <ul>
                        <li class="text-right py-2 px-6">
                            <a href="/call-for-sponsors" data-mobile-menu-close class="inline-block button-s text-white hover:underline">
                                Sponsors
                            </a>
                        </li>
                        <li class="text-right py-2 px-6">
                            <a href="/call-for-papers" data-mobile-menu-close class="inline-block button-s text-white hover:underline">
                                Call for Papers
                            </a>
                        </li>
                        <li class="text-right py-2 px-6">
                            <a href="/contact" data-mobile-menu-close class="inline-block button-s text-white hover:underline">
                                Contact
                            </a>
                        </li>
                        <!-- <li class="text-right py-2 px-6">
                            <button
                                data-mobile-menu-close
                                class="w-full max-w-32 bg-orange-600 button-s text-white rounded
                                  py-4 px-4 hover:bg-orange-700 focus:outline-none sm:hidden">
                                Buy Tickets
                            </button>
                        </li> -->
                    </ul>
                </div>
            </section>
        </nav>

        <!-- Main Nav - Desktop -->
        <nav class="hidden md:flex md:basis-10/12 justify-end items-center gap-3">
            <a href="/call-for-sponsors" class="button-s text-white hover:underline">Sponsors</a>
            <a href="/call-for-papers" class="button-s text-white hover:underline">Call for Papers</a>
            <a href="/contact" class="button-s text-white hover:underline">Contact</a>
            <!-- <button
                data-mobile-menu-close
                class="w-full max-w-32 bg-orange-600 button-s text-white rounded
                  py-4 px-4 hover:bg-orange-700 focus:outline-none">
                Buy Tickets
            </button> -->
        </nav>
    </div>
</header>

<script>
    // @ts-nocheck
    document.addEventListener('scroll', () => {
        const headerElem = document.querySelector('#header');
        const logoElem = document.querySelector('#logo');

        if (window.pageYOffset > 200) {
            headerElem.classList.add('fixed', 'top-0', 'bg-black-opacity-50', 'py-2');
            headerElem.classList.remove('absolute', 'bg-gradient-to-b', 'from-black', 'sm:py-5', 'lg:py-3');
            logoElem.classList.add('h-12', 'lg:h-12');
            logoElem.classList.remove('h-14', 'lg:h-18');
        } else {
            headerElem.classList.add('absolute', 'bg-gradient-to-b', 'from-black', 'sm:py-5', 'lg:py-3');
            headerElem.classList.remove('fixed', 'top-0', 'bg-black-opacity-50', 'py-2');
            logoElem.classList.add('h-14', 'lg:h-18');
            logoElem.classList.remove('h-12', 'lg:h-12');
        }
    });

    document.querySelector('#mobile-menu-open').addEventListener('click', () => {
        const menuElem = document.querySelector('#mobile-menu');
        menuElem.classList.remove('hide-menu');
        menuElem.classList.add('show-menu');
        document.body.style.overflow = 'hidden';
    });

    const buttons = document.querySelectorAll('[data-mobile-menu-close]');

    buttons.forEach((button) => {
        button.addEventListener('click', () => {
            const menuElem = document.querySelector('#mobile-menu');
            menuElem.classList.remove('show-menu');
            menuElem.classList.add('hide-menu');
            document.body.style.overflow = 'auto';
        });
    });
</script>
