---
import { Picture } from '@astrojs/image/components';

import papers from '../assets/banners/call-for-papers.png';
import sponsors from '../assets/banners/call-for-sponsors.png';

import Button from './Button.astro';

// export interface Props {
// }

// const {  } = Astro.props;
---
<div class="container flex items-center flex-wrap mx-auto pb-20 sm:pb-26 md:flex-nowrap md:gap-6">
    <div id="call-for-papers" class="basis-full mb-10 md:basis-6/12 md:mb-0">
        <Picture
            src={papers}
            aspectRatio="16:9"
            fix="cover"
            widths={[400]}
            sizes="(min-width: 320px) 100%"
            formats={['png', 'webp']}
            alt="Papers image"
            class={"w-full h-full object-cover"}
        />
        <div class="flex flex-col pt-4">
            <h2 class="pb-2">Call for Papers</h2>
            <p class="text-xl font-normal text-gray-600 pb-6">Want to share your ideas an insights?</p>
            <Button dataId='apply-for-papers'>Apply for a spot</Button>
        </div>
    </div>
    <div id="call-for-sponsors" class="basis-full md:basis-6/12">
        <Picture
            src={sponsors}
            aspectRatio="16:9"
            fix="cover"
            widths={[400]}
            sizes="(min-width: 320px) 100%"
            formats={['png', 'webp']}
            alt="Papers image"
            class={"w-full h-full object-cover"}
        />
        <div class="flex flex-col pt-4">
            <h2 class="pb-2">Call for Sponsors</h2>
            <p class="text-xl font-normal text-gray-600 pb-6">Want to support the event?</p>
            <Button dataId='apply-for-sponsor'>Become a sponsor</Button>
        </div>
    </div>
</div>