---
import Button from './Button.astro';

// export interface Props {
// }

// const {  } = Astro.props;
---
<div class="bg-newsletter bg-no-repeat bg-cover bg-center">
    <div class="container flex items-center flex-wrap mx-auto py-12 sm:py-18 md:flex-nowrap">
        <div class="basis-full md:basis-8/12 lg:basis-6/12">
            <p class="text-xl font-semibold leading-tight tracking-normal text-gray-900 pb-2">
                Don't miss valuable content
            </p>
            <h2 class="pb-6">Subscribe to our newsletter</h2>
            <form action="https://meetmagento.us1.list-manage.com/subscribe/post?u=24bf150db5e3259ef2f25d512&amp;id=8172080459&amp;f_id=0069c5e5f0"
              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self">
                <div class="flex flex-wrap gap-4 sm:flex-nowrap">
                    <!-- Begin Mailchimp Signup Form -->
                    <input
                        id="mce-EMAIL"
                        name="EMAIL"
                        type="email"
                        value=""
                        autocomplete="on"
                        placeholder="Enter your email address..."
                        required
                        class="block w-full bg-white border border-gray-300 text-black text-base font-normal
                            leading-normal tracking-normal rounded py-3 px-4 hover:ring-gray-500
                            hover:border-2 hover:border-gray-500 focus:border-2 focus:ring-gray-900 focus:border-gray-900
                            focus:outline-none active:border-2 active:ring-gray-900 active:border-gray-900 sm:basis-9/12" />
                    <button 
                        type="submit" 
                        value="Subscribe" 
                        name="subscribe" 
                        id="mc-embedded-subscribe" 
                        class="w-full max-w-48 bg-orange-600 button-m text-white rounded
                          py-4 px-4 hover:bg-orange-700 focus:outline-none">
                            Subscribe
                        </button>
                    <!--End mc_embed_signup-->
                </div>
            </form>
        </div>
    </div>
</div>
