---
import { Picture } from 'astro:assets';

import heroMobile from '../assets/banners/banner-mobile.png';
import heroTablet from '../assets/banners/banner-tablet.png';
import heroDesktop from '../assets/banners/banner-desktop.png';

export interface Props {
    title: string;
}

const { title } = Astro.props;
// aspectRatio="2:1" fix="cover" widths={[360]}
// aspectRatio="12:5" fix="cover"
// aspectRatio="6:1" fix="cover"
---

<div class="relative mb-12">
    <Picture
        src={heroMobile}
        formats={['webp']}
        densities={[1, 2]}
        alt="Main banner"
        class={"w-full h-full object-cover sm:hidden"}
    />
    <Picture
        src={heroTablet}
        widths={[768]}
        formats={['webp']}
        alt="Main banner"
        class={"w-full h-full object-cover hidden sm:block lg:hidden"}
    />
    <Picture
        src={heroDesktop}
        widths={[1920]}
        formats={['webp']}
        alt="Main banner"
        class={"w-full h-full object-cover hidden lg:block"}
    />
    <div class="absolute right-0 bottom-0 left-0 container mx-auto py-4 px-6 flex flex-col justify-center lg:bottom-8 lg:py-0">
        <h1 class="heading-mobile-l sm:heading-desktop-l text-white">{title}</h1>
    </div>
</div>
